.carousel-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #000;
    opacity: 0.7;
  }
  .logo img{
    width: 175px;
  }
  .categories img{
    width: 100px;
    }

    .items img{
      /* width: 100%; */
      height: 250px;
      }
    .panda-btn-buy-now{
      background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
      color: #fff;
      border: none;
      border-radius: 8px;
      padding: 9px 25px;
  }
  
  .login-container{
    display: flex;
    justify-content: center;
}
.login-form{
display: flex;
flex-direction: column;
/* border: 2px solid red;
*/
}
.login-form input{
/* width: 50%; */
font-size: 1.5em;
margin-top:1em;
pad: 5px 10px;
}
.login-form input[type="submit"]{
background-color: goldenrod;
border: 0;
border-radius: 5px;
color: whitesmoke;
font-weight: 700;
}




  footer{
    margin-top: 20px;
  }